*{
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhai 2', cursive;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
.navbar::before{
    content: " ";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    border-radius: 10px;
}

.logo{
    margin: 5px 10px;
}
.logo img{
    margin: 5px 20px;
    height: 55px;
}
ul{
    display: flex;
}
.item{
    list-style: none;
}
.item a{
    color: white;
    display: block;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.3rem;
}
.item a:hover{
    color: black;
    background-color:white;
}
#home {
    display: flex;
    flex-direction: column;
    padding: 16px 200px;
    height: 558px;
    align-items: center;
    justify-content: center;
}
#home::before{
    content: " ";
    position: absolute;
    top: 0;
    background:url(../images/pasta.jpg) no-repeat center center/cover;
    height: 674px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
#home h1{
    color: white;
    font-size: 3rem;
    padding: 2px 10px;
    text-align: center;
    text-shadow: 3px 2px rgb(8, 69, 119);
}
#home p{
    color: white;
    font-size: 1.3rem;
    padding: 1px 10px;
    text-align: center;
    text-shadow: 3px 2px rgb(8, 69, 119);
}
.btn{
    padding: 7px 42px;
    margin: 18px;
    border: 0.3px solid white;
    background-color: rgb(49, 218, 85);
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
}
.btn:hover{
    border: 2px solid white;
}

#services-center{
 margin-top: 1px;
 position: relative;
 z-index: -1;
}
#services-center::before{
    content: " ";
    position: absolute;
    background:url(../images/watercolor.webp) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
.h-prim{
    font-size:2.3rem;
    padding: 8px;
    text-align: center;
}
.secondary{
    font-size: 1.4rem;
    padding: 10px;
    text-align: center;
}
#services{
    display: flex;
    margin: 2px;
}
#services .box{
    border: 2px solid red;
    margin: 10px 40px;
    padding:8px 28px;
    border-radius: 25px;
    box-shadow: 0px 0px 8px red;
}
#services img{
    height: 115px;
    margin: auto;
    display: block;
}

#clientSection{
    margin: 1px;
    position: relative;
    height: 200px;
    z-index: -1;
}
#clientSection::before{
    content: " ";
    position: absolute;
    background: url(../images/image.jpg);
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

.clients{
    display: flex;
    align-items: center;
    justify-content: center;
}
.clients img{
    height: 55px;
}
.citems{
    padding: 9px;
}
#contact{
    position: relative;
}
#contact::before{
    content: " ";
    position: absolute;
    background:url(../images/image.jpg )no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

footer{
    background:url(../images/image.jpg);
    color: white;
    padding: 8px 15px;
    margin: 1px;
}
.ft{
    text-align: center;
}
#contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 13px;
}
#contact-box input,textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
}